Flask==1.1.2
opencv-python-headless
efficientnet_pytorch==0.7.0
http://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
tqdm==4.54.1
torchvision==0.8.2
requests==2.22.0
numpy==1.19.0
h5py==3.1.0
matplotlib==3.3.3
Pillow==8.0.1
gunicorn==19.9.0
